* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ABeeZee;

}


section {
    background-color: #113F60;
    height: 6rem;
    display: flex;
    align-items: center;
}

h1 {
    width: 678px;
    height: 88.77px;
    top: 113px;
    left: 13px;
    gap: 0px;
    opacity: 0px;
    color: #fff;

    font-family: Lusitana;
    font-size: 50px;
    line-height: 83.01px;
    text-align: center;
    font-weight: bold;
}

.box {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.box img {
    width: 940px;
    height: 20px;
}

.danca {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;

    
}

.textd {
    width: 648.98px;
    height: 710px;
    top: 474px;
    left: 846.47px;
    gap: 0px;
    opacity: 0px;

    font-size: 16px;
    color: #fff;
    background-color: #113F60;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
    font-weight: 200;
    font-size: 25px;
  }

  .imgss {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 40px;

  }

  .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 55px;

    margin-right: 700px;
    margin-bottom: 30px;
  }

  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    gap: 55px;

    margin-left: 700px;
    position: relative;
    top: -261px;
   
  }

  .r {
    margin-left: 270px;
  }
  
  .r2 {
    margin-left: 970px;
    position: relative;
    top: -20px;
  }

  .imgss2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 40px;

    margin-right: 735px;

    
  }

  .code {
    width: 600px;
    height: 400px; 
    background-color: #b68600; 
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 985px;
    top: -425px;
    position: relative;
  
  }

  .qrcode {
    width: 150px; 
    height: 150px;
    padding: 0.2px;

    transform: scale(2.0);
  }

  .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    gap: 55px;

    margin-right: 700px;
    position: relative;
    top: -261px;
  }

  .box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    gap: 55px;

    margin-left: 750px;
    position: relative;
    top: -280px;
  }

  .r3 {
    margin-left: 260px;
  }

  .r4{
    margin-left: 990px;
    position: relative;
    top: -20px;
  }

